
html {

  scroll-behavior: smooth;
}

body {

  
  background-color: rgb(230, 230, 230);
  margin: 0;
  

}

.container {

  padding-top: 20px;
  padding-left: 20px;
   width: 80%;
   height: 100%;
  margin: 0 auto;
  background-color: white;

}

.dropbtn {
  background-color: #eeecec;
  color: #2d3638;   
  padding: 16px;
  font-size: 16px;
  margin-top: 1em;
  border: none;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  float: right;
  
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;  
  margin-right: 0px;
  
 
  
}


#none {
  
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363f41b2;
  min-width: 160px;
  max-width: 6em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 4em;
 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Muli', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.726);
                               color: black;
                               transition: .5s;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
  transition: .5s;
}

h1 {


  font-family: 'Muli', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #eeecec;
  max-width: 15em;
  
}

.divdoku {

  display: flex;
  justify-content: flex-start;
}

p {

  font-family: 'Muli', sans-serif;
  text-align: justify;
  max-width: 800px;

}

.textfeld {

  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  
}

h3 {

  font-family: 'Muli', sans-serif;
}

.brake {

  padding-top: 3em;
}

.img {

  display: flex;
  justify-content: center;

  
}

img {

  border-radius: 10px;

}


dd {

  font-family: 'Muli', sans-serif;
  text-align: center;

}

dt {

  font-family: 'Muli', sans-serif;
  text-align: center;

}


hr {

  max-width: 1000px;
  border: solid 1px #eeecec;
}


li {

font-family: 'Muli', sans-serif;

}


a {


  color: #6c71ca;
  text-decoration: none;
}


.table {
  max-width: 85%;
  border: black 1px;
  font-size: 16px;
  margin: 5% auto;
}

.table_small{
    margin: 0% auto;
    width: 90%;
    
}
 



  


 
td {
  background:#eeecec;
  font-family: 'Muli', sans-serif;
  padding: 20px;
  
  text-align:left;
  vertical-align:middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid;
}

.abstand {


  width: 233px;
}


footer {

 
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8em;
  background-color: #e6e6e6;
}

.pfooter {

  font-family: 'Muli', sans-serif;


}

.divfooter {

display: flex;
justify-content: center;

}


.home {

display: flex;
justify-content: center;
margin: 0 auto;
height: 2em;
max-width: 2em;
background-color: #cb6040;
border-radius: 100px;


}


.footertext {

  margin-top: 4px;
  color: black;

}

@media (max-width: 800px) {



.bildmedia {

width: 35em;


}

}

@media (max-width: 1010px) {


.bildmedia {

width: 35em;

}


}

@media (max-width: 730px) {



.bildmedia {

width: 15em;
height: 2em;

}


}


@media (max-width: 730px) {



  .bildmedia2 {
  
  width: 15em;
  height: 30em;
  
  }
  
  
  }


  @media (max-width: 730px) {



    .bildmedia3 {
    
    width: 15em;
    height: 20em;
    
    }
    
    
    }

    @media (max-width: 730px) {



      .bildmedia4 {
      
      width: 18em;
      height: 4em;
      
      }
      
      
      }

      @media (max-width: 730px) {



        .bildmedia5 {
        
        width: 18em;
       
        
        }
        
        
        }

        @media (max-width: 730px) {



          .bildmedia6 {
          
          width: 18em;
          height: 4em;
         
          
          }
          
          
          }


          @media (max-width: 730px) {



            .bildmedia7 {
            
            width: 18em;
            height: 4em;
           
            
            }
            
            
            }


            @media (max-width: 730px) {



              .bildmedia8 {
              
              width: 18em;
              height: 7em;
             
              
              }
              
              
              }


              @media (max-width: 600px){


                .dropdown {

                  display: none;
                }


                #none {

                  display: flex;
                  margin: 0;
                }

                .none2 {

                  display: flex;
                  justify-content: center;


                }

              }
              